.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 5px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}

.pagination a:hover,
.pagination a.active {
  background-color: var(--secondary-color);
  color: white;
}

@media (max-width: 768px) {
  .pagination a {
    width: 35px;
    height: 35px;
  }
}
